.mainFooter {
  background-color: var(--black);
  position: static;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
}

.footerSection {
  z-index: 10;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 0px;
  display: flex;
  position: relative;
}

.gridWrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(5vw, 1fr) minmax(auto, 1500px) minmax(5vw, 1fr);
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
  position: relative;
}

.footerContent {
  grid-column-gap: 16px;
  grid-row-gap: 60px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  min-height: 300px;
  display: grid;
  grid-area: 1/2/2/3;
}

.footerGrid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 60px;
  display: grid;
}

@media screen and (max-width: 991px) {
  .footerGrid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .footerGrid {
    padding-bottom: 0px;
  }

  .footerSection {
    padding-top: 65px;
  }

  .footerContent {
    grid-row-gap: 20px;
  }
}

.footerNavigation {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: start;
  justify-items: end;
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .footerNavigation {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 600px) {
  .footerNavigation {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
}

.footerList {
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 600px) {
  .footerList {
    margin-bottom: 20px;
  }
}

.navigationTitle {
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
}

.footerItems {
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footerLink {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  justify-content: start;
  align-items: center;
  font-size: 11px;
  line-height: 1.5em;
  text-decoration: none;
  display: grid;
}

.footerBottom {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-top: 1px solid var(--light-outline);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 28px;
  padding-bottom: 28px;
  display: grid;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .footerBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.legalText {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  opacity: .8;
  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: end;
  font-size: 9px;
  display: grid;
}

@media screen and (max-width: 600px) {
  .legalText {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

#legal {
  justify-self: start;
}

.legalText>a {
  cursor: pointer;
}