@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 5.8s ease-in-out;
}

/* app.css */
.product-background {
  background: linear-gradient(to right, #36424f, #232a33);
}

.product-background-related {
  background: linear-gradient(to top, #2e3a46, #1d252d);
}
.sub-heading{
  color: #5ec472;
}
.paragraph{
  color: white
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-50%);
  }
}